<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>无限未来</title>
    <link type="text/css" href="static/css/wheel.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
    <h1 class="head">基于机器学习的未知网络协议的识别与分类</h1>
    <div style="min-height:800px">
        <!-- 主体部分 start -->
        <div class="mainContent">
            <div class="contentBg">
                <!-- 右边内容部分 start -->
                <div class="rightContent">
                    <!-- 雷达图展示 start-->
                    <div class="picContent">
                        <a href="static/pngs/k=50-pkt1000.png" target="_blank">
                            <img src="static/pngs/k=50-pkt1000.png" class="showImg" style="width:800px;height:600px;"></a>
                        <a href="static/pngs/k-5-200-100byte.png" target="_blank">
                            <img src="static/k-5-200-100byte.png" style="width:800px;height:600px;"></a>
                        <a href="static/pngs/f-k=20.png" target="_blank">
                            <img src="static/pngs/f-k=20.png" style="width:800px;height:600px;"></a>
                    </div>
                    <!-- 雷达图展示 end-->
                    <!-- 控制台 begin-->
                    <div class="playDiv">
                        <div class="btnDiv imgBtns playBtn" id="playBtn"></div>
                        <div class="btnDiv imgBtns stopBtn dis"></div>
                        <div class="playStaLi playStaLi03">
                            <!-- 如果是数值产品和实验应用产品 -->
                            <!-- 控制台文字 -->
                            <div class="infoDiv " style="width:68px;text-align:center;">1000pkt 聚类图</div>
                            <!-- 控制台按钮 -->
                            <div id="btn_group" style="overflow:hidden">
                                <a class="cur" data-type="0"></a>
                                <a data-type="1"></a>
                                <a data-type="2"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右边内容部分 end -->
            </div>
        </div>
        <!--主体部分end-->
        <!--轮播-->
        <div class="formDiv">
            <form  action="/fileupload"  enctype='multipart/form-data' method='POST'>
            <p><input type="file" name="file"></p>
            <label><input type="radio" name="module" value="feature" />特征向量Kmeans</label>
            <label><input type="radio" name="module" value="binary" checked="checked" />二进制Kmeans</label>
            <p><input type="submit" name="上传"></p>
    </form>
        </div>
        <script type="text/javascript" src="static/js/play.js"></script>
    </div>
</body>
</html>